<!-- filepath: c:\wamp64\www\e-commerce-raquettes\templates\base\_filter_data.html.twig -->
{{ form_start(form) }}
<div class="input-group">
    {{ form_widget(form.query) }}
    <button type="submit" class="btn btn-outline-light">
        <i class="bi bi-search"></i> Filter
    </button>
</div>
{{ form_end(form) }}