{{ form_start(form, {'attr': {'class': 'd-flex', 'role': 'search'}}) }}
<div class="input-group">
	{{ form_widget(form.query, {'attr': {'class': 'form-control', 'placeholder': 'Search racquets...', 'aria-label': 'Search'}}) }}
	<button type="submit" class="btn btn-light">
		<i class="bi bi-search"></i>
		Search
	</button>
	<a href="{{ path('racquets') }}" class="btn btn-light">
		<i class="bi bi-search"></i>
		Clear
	</a>
</div>
{{ form_end(form) }}
