{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
<div class="row g-3">
	{% for child in form.children %}
		{% if child.vars.name != '_token' %}
			<div class="col-md-6">
				{{ form_row(child, {
                        'label_attr': {'class': 'form-label fw-bold'},
                        'attr': {'class': 'form-control'}
                    }) }}
			</div>           
		{% endif %}
	{% endfor %}
</div>
<div class="mt-4">
	<button type="submit" class="btn btn-primary btn-lg">
		<i class="bi bi-save"></i>
		{{ button_label|default('Save') }}
	</button>
</div>
{{ form_end(form) }}
