{% extends 'base.html.twig' %}

{% block title %}Edit Racquet{% endblock %}

{% block body %}
    <h1>Edit Racquet</h1>

    {{ include('admin_racquet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_racquet_index') }}">back to list</a>

    {{ include('admin_racquet/_delete_form.html.twig') }}
{% endblock %}
